/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Barra de navegacion*/

h1 {
  color: azure;
  font-size: 3.5rem;
  padding-left: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: azure;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
}

.barraNavegacion li {
  display: inline-block;
  padding: 2rem;
}

/*Titulos secundarios*/

h2 {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 2rem;
}

/*Imagenes*/
.imagenes {
  width: auto;
  height: 300px;
  border: solid;
  border-radius: 5px;
}

.galeriaImagenes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1.5rem;
  padding: 1.5rem;
  text-align: center;
}

.cajas {
  text-align: center;
  border: solid;
  border-radius: 0.625px;
  padding: 1.25rem;
  margin: 1rem;
  background-color: black;
}

.cajas h3 {
  font-size: 1.4rem;
  color: azure;
  margin-top: 0.5rem;
}

button {
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: #000000;
  background-color: #ffffff;
}

button:hover {
  background-color: #000000;
  color: azure;
  border: solid;
}

/*Carrito*/

h4 {
  font-size: 1.6rem;
  padding: 1.5rem;
}

/*Color de pagina*/

body {
  transition: background-color 0.4s, color 0.4s;
}

body.cambioDeColor {
  background-color: black;
  color: azure;
}

/*Usuario*/
#loginForm {
  margin-top: 2rem;
  width: 500px; /* Ancho del formulario */
  margin: 8rem auto 18.28rem;
  /* Centrar el formulario horizontalmente */
  border: solid; /* Borde del formulario */
  padding: 20px; /* Espacio interno del formulario */
  border-radius: 5px; /* Bordes redondeados */
}

#loginForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

#loginForm input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#loginForm button {
  width: 100%; /* Botón ocupa todo el ancho */
  padding: 0.5rem 1rem;
  background-color: #3b5066;
  color: white;
  border: none;
  cursor: pointer;
}

#loginForm button:hover {
  background-color: #122233;
}
/*Final de pagina*/

.finalDePagina h2 {
  font-size: 1.4rem;
  background-color: black;
  color: azure;
  padding: 2rem;
}
