/*Reseteo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Barra de navegacion*/

h1 {
  color: azure;
  font-size: 3.5rem;
  padding-left: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: azure;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
}

.barraNavegacion li {
  display: inline-block;
  padding: 2rem;
}

.colorDePagina {
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}
/*Titulos secundarios*/

h2 {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 2rem;
}

/*Imagenes*/
.imagenes {
  width: auto;
  height: 300px;
  border-radius: 5px;
}

.galeriaImagenes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1.5rem;
  padding: 1.5rem;
  text-align: center;
}

.cajas {
  text-align: center;
  border: solid;
  border-radius: 1.5rem;
  padding: 1.25rem;
  margin: 1rem;
  margin-bottom: 3rem;
  background-color: black;
}

.cajas h3 {
  font-size: 1.4rem;
  color: azure;
  margin-top: 0.5rem;
}

.botonAgregar {
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
  color: azure;
  border: solid;
}

/*Color de pagina*/

body {
  transition: background-color 0.4s, color 0.4s;
}

body.cambioDeColor {
  background-color: black;
  color: azure;
}

/*Usuario*/
#loginForm {
  margin-top: 2rem;
  width: 500px;
  margin: 12rem auto 20.9rem;
  border: solid;
  padding: 20px;
  border-radius: 5px;
}

#loginForm label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

#loginForm input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#loginForm button {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #3b5066;
  color: white;
  border: none;
  cursor: pointer;
}

#loginForm button:hover {
  background-color: #122233;
}

/*Carrito*/

.tituloCarrito {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

#carritoSinNada h4 {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.productosDelCarrito {
  display: inline-block;
}

.productoDelCc {
  display: flex;
  gap: 15rem;
  margin: 1rem;
  padding: 1rem;
  border: solid;
  border-radius: 2rem;
  font-size: 2rem;
  background-color: #000000;
  color: #ffffff;
}

.botonCarrito {
  font-size: 1.1rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}

.botonCarrito:hover {
  background-color: #122233;
  border: none;
  cursor: pointer;
}

.ocultar {
  display: none;
}

.totalCompra {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/*Final de pagina*/

.finalDePagina h2 {
  font-size: 1.4rem;
  background-color: black;
  color: azure;
  padding: 2rem;
}
